Flask-RESTful==0.3.x
Flask-JWT-Extended==4.5.x
Flask-Cors==3.0.x
pymongo==4.3.x
redis==4.5.x
celery==5.3.x
sendgrid==6.9.x
firebase-admin==5.3.x
Flask-SocketIO==5.3.x
eventlet==0.33.x
APScheduler==3.10.x
pydantic==2.4.2
marshmallow==3.19.x
pytest==7.4.x
pytest-flask==1.2.x
python-dotenv==1.0.x
gunicorn==20.1.x
jsonschema==4.17.x
requests==2.28.x
prometheus_client==0.14.x
python-json-logger==2.0.x
tenacity==8.2.3
PyJWT==2.6.0
pybreaker==1.2.0
python-socketio==5.8.0
pytest-mock==3.10.x
pytest-cov==4.1.0
bleach==6.0.x